{{#each this}}
<li class="films-item" data-id={{id}}>
  <a href="/about.html">
    <div  class="img-container">
      <img class="img-sample" src="https://image.tmdb.org/t/p/original/{{backdrop_path}}" alt="movie" />
      <div data-id={{id}} class="gradient">
        <p class = "imbd">  Imdb {{vote_average}}</p>
        <button class="button_icon button_icon-star">
          <svg class="icon icon-star">
            <use href="../img/icons/sprite.svg#star"></use>
          </svg>
        </button>
        <button class="button_icon button_icon-bell">
          <svg class="icon icon-bell">
            <use href="../img/icons/sprite.svg#bell"></use>
          </svg>
        </button>
      </div>
    </div>
    <p class="films-name">{{original_name}} ({{first_air_date}}) </p>
  </a>
</li>
{{/each}}
