{{#each this}}

{{#if title}}
<li class="films-item" data-id={{id}} data-mediatype="movie">
   {{else}}
<li class="films-item" data-id={{id}} data-mediatype="TV">
{{/if}}
        <button class="button_icon button_icon-star">
          <svg data-id = {{id}} class="icon icon-star fill-white">
            <use href="../img/icons/sprite.svg#star"></use>
          </svg>
        </button>
        <button class="button_icon button_icon-bell">
          <svg class="icon icon-bell fill-white">
            <use href="../img/icons/sprite.svg#bell"></use>
          </svg>
        </button>
  <a href="/about.html">
    <div class="img-container">
      <img class="img-sample" src="https://image.tmdb.org/t/p/original/{{backdrop_path}}" alt="movie" />
      <div data-id={{id}} class="gradient">
        <p class="imbd"> Imdb {{vote_average }}</p>
      </div>
    </div>
    {{#if title}}
    <p class="films-name">{{title}} ({{release_date}})</p>
    {{else}}
    <p class="films-name">{{original_name}} ({{first_air_date}}) </p>
    {{/if}}
    {{!-- <p class="films-name">{{title}} ({{release_date}})</p> --}}
  </a>
</li>
{{/each}}
{{!-- http://localhost:8080/about.html --}}
